body {
    background-color:blanchedalmond;

}

hr {
    border-style: none;
    border-top-style: dotted;
    background-color: blanchedalmond;
    border-width: 7px;
    width: 10%;
}

h1 {
    color: #66BFBF;
}

h2 {
    color: #66BFBF;
}